.titleHeading,
.createdAtHeading,
.title,
.createdAt,
.update {
  display: inline-block;
  padding-bottom: 4ppx;
}

.titleHeading,
.createdAtHeading {
  text-align: center;
  font-weight: bold;
  width: 11em;
}

.title,
.createdAt {
  text-align: center;
  width: 11em;
}

.createdAt {
    margin-right: 8px;
}